body {
	font-family: Arial;
	font-size: 10pt;
}

div {
	/*overflow:hidden;*/
}

/* customer tab */
div#customerTab {
	width: 100%;
}

/* top section */
div#top {
	width: 100%;
	height: 50px;
	left: 0;
	top: 0;		
}

div#logo {
	padding: 8px 10px 8px 10px;
	float: left;
}

/* left section */
div#left {
	float: left;
	/*max-width: 220px;*/
	left:0;	
	height: 100%;
	display: block;
}

div#left-header {
	float: right;
	background-color: #aaaaaa;
	width: 10px;
	height: 100%;
}

div#left-content {
	float: left;
	width: 220px;
	height: 100%;
}

div#main {
	/*float: left;*/
	position: relative;
	/*min-width: 60%;
	width: auto;*/
}

div#containerTabs {
	width: 100%;
	/*height: 80%;*/
	min-height: 700px;
}

/* tabs */
div.ui-tabs {
	min-height: 600px;
	/*height: 100%;*/
}
.ui-tabs .ui-tabs-panel {
	width: 100%;
	/*height: 100%;*/
	padding: 0;
	margin: 0;
}

div.ui-tabs-panel iframe {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	min-height: 768px;
	height: 100%;
}


div#right {
	right:0;	
	height: 100%;
}


.window_panel .window_header .maximizeIcon {
	background: url(../img/maximize.png) no-repeat;
	width: 16px;	
	height: 16px;
	top: 0px;
}

.window_panel .window_header .restoreIcon {
	background: url(../img/restore.png) no-repeat;
	width: 16px;	
	height: 16px;
	top: 0px;
}

.window_panel {
	background: #ffffff;
}

.iframe-demo {
 border: #000000 0px solid;
 /*width: 99%;*/
}

iframe {
overflow: hidden;/*overflow-x:hidden;
overflow-y: scroll;*/
border: none;
}

/* jquery data table */
table.dataTable {
	border-spacing: 0px;
	border-width: 0px;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
table.dataTable thead th {
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
}

/* jquery ui window panel */
div .ui-widget-header {
	background: #49176D;
	color: #FFFFFF;
}