.helvetica_neue {font-family: 'HelveticaNeueLight';}
.pad-1 {padding: 0 20px;}
.pad-2 {padding: 0 40px;}
.pad-3 {padding: 0 60px;}
.pad-4 {padding: 0 80px;}

.underline {
	border-bottom:1px solid #ddd;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}