body {
	padding-top: 60px;
    padding-bottom: 40px;
	background-color: #fff;
}

html {
	background-color: #fafafa;
}

body, html {
	margin: 0;
	padding: 0;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
}

header {
	position: relative;
}

footer {
	height: 30px;
}

footer a, footer span {
	font-size: 11px;
	text-decoration: none;
	padding: 5px;
}

.container {
	border: 1px solid #D0D0D0;
}
