div.nav_bar {
	background-image: url('../img/menu_green.gif');
	background-repeat: repeat-x;
	background-color: #4C9A00;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 100%;
	font-family: "Helvetica", Arial, "Liberation Sans", FreeSans,
		sans-serif !important;
	height: 25px;
	text-align: left !important;
}

div.nav_bar a {
	color: #fff;
	text-decoration: none;
	font-family: "Helvetica", Arial, "Liberation Sans", FreeSans,
		sans-serif !important;
	font-size: 14px;
}

div.nav_bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	height: 25px;
}

div.nav_bar ul li {
	margin: 0;
	padding: 0;
	float: left;
}

div.nav_bar ul li div:first-child {
	padding: 5px 15px;
}

div.nav_bar ul li i {
	padding: 4px 5px;
	height: 16px;
	min-height: 16px;
}

div.nav_bar ul li:hover {
	background-color: #6C0;
	border-color: #6C0;
	cursor: pointer;
}

div.nav_bar ul li.active {
	background-color: #6C0;
	border-color: #6C0;
	border-bottom: solid #dbd0e2 1px;
}

div.nav_bar ul li.active ul {
	width: 250px;
	height: auto;
	display: block;
	overflow: hidden;
}

div.nav_bar ul li ul {
	z-index: 1000;
	border: solid #49166d 1px;
	border-top: none;
	color: #49166d;
	box-shadow: 3px 3px 1px rgba(175, 175, 175, 0.8);
	padding: 5px 0px;
	display: none;
	position: absolute;
	float: left;
	background-color: white;
	margin-left: -1px;
	margin-top: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.nav_bar ul li ul li {
	padding: 5px 15px 5px 20px;
	border-bottom: 0;
	font-weight: normal;
	font-size: 12px;
	min-width: 250px;
}

div.nav_bar ul li ul li a {
	color: #49166d;
	font-size: 12px;
	display: block;
	text-shadow: 0px 1px 1px #fff;
}

div.nav_bar ul li ul li a:hover {
	color: #8968a0;
	display: block;
}
