/* container */
div.widget-wrapper {
	border: none;
}
div { overflow: hidden}
div.right {
	float:right;
}


/* header */
div.widget-header {
	border: 1pt solid #aaaaaa;
	padding: 2px;
	margin: 0;
	font-weight: bold;
	height: 16px;
	overflow: hidden;
	background-image: url(images/ui-bg_highlight-soft_100_dad1e2_1x100.png);
	background-position: center;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	background-color: #dad1e2;
}


/* body */
div.widget-content {
	border-bottom : 1pt solid #aaaaaa;
	border-left : 1pt solid #aaaaaa;
	border-right : 1pt solid #aaaaaa;
	padding: 2px;
	margin-bottom: 5px;
}

.verticalText {
	-webkit-transform: rotate(270deg);	
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

/*
div.widget-header.handle {
	width: 20px;
	height: 50px;
	background-color: #666666;
	left: -10px;
	vertical-align: middle;
	z-index: 5;
}*/

div.borderless {
	border: none;
}

.hidden {
	visibility: hidden;
}